{%  extends 'base.html'%}
{% block content %}
    <div class="jumbotron text-center" style="background-color: #f8f1f1">
    <h1>Корзина</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">наименование</th>
      <th scope="col">Количество</th>
      <th scope="col">Цена</th>
    </tr>
  </thead>
  <tbody>
  {% for cart in cart_q %}
    <tr>

      <th scope="row">{{ cart.product.name }}</th>
      <td>{{ cart.quantity }}</td>
      <td>{{ cart.product.price }}</td>
    </tr>
  {% endfor %}
  </tbody>
    </table>
    <h4 class="text-right mt-5">Итого: {{ tot }}</h4>
    </div>

{% endblock content %}