{% extends 'base.html' %}
{% block title %}orders{% endblock title %}
{% block content %}
    <div class="jumbotron" style="background-color: #f8f1f1">
    <h1>Ваши заказы</h1>
        {% if not orders %}
    <h4>Заказов нет</h4>
        {% else %}
            {% for order in orders %}
                <div class="alert alert-secondary" role="alert">
                <p>Дата заказа: {{ order.created_at }}</p>
                    {% for order_product in order.users_order.all %}
                        <div class="alert alert-primary">
                        <p>Наименование: {{ order_product.product.name }}</p>
                        <p>Количество: {{ order_product.quantity }}</p>
                        <p>Сумма: {{ order_product.get_sum }}</p>
                        </div>
                    {% endfor %}
                <p>Итого: {{ order.get_tot }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}