{%  extends 'base.html' %}
{% block title %}Delete{% endblock title %}
{% block content %}
    <div style="background-color: #f8f1f1">
    <div class="container" style="padding: 10%">
    <h2>Вы уверены, что хотите удалить продукт "{{ product.name }}" ?</h2>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <form action="{% url "product-delete" product.id %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-success btn-m" value="да" style="margin-right: 20px" >
    </form>
        <p><a class="btn btn-secondary btn-m" href="{% url "product-list" %}" role="button">Отмена</a></p>
    </div>
    </div>
    </div>

{% endblock content %}