{% extends "base.html" %}
{% block title %}all products{% endblock title %}
{% block content %}
    <div class="jumbotron" style="background-color: #f8f1f1; padding-left: 10%; padding-right: 10%">
      <h1 class="display-4">Список товаров</h1>
      <hr class="my-4">
        {% if not products %}
            <h3>Нет товаров</h3>
        {% else %}
            {% include 'partial/search_form.html' %}
            {% for product in products %}
            <div class="card mt-3" style="width: 18rem;">
            <div class="card-header">
            <a href="{% url 'product-view' product.id %}" style="color: olive">{{ product.name }}</a>
            </div>
            <div class="card-body">
            <h5 class="card-title">Цена: {{ product.price}}</h5>
            <p class="card-text">Категории:
                {% for category in product.category.all %} {{ category.category }}
                {% if not forloop.last %},
                {% endif %}
                {% endfor %}
            </p>
            <p class="card-text">Остаток: {{ product.remainder }}</p>
            <a href="{% url 'add-cart' product.id %}" class="btn btn-primary">В корзину</a>
            </div>
            </div>
            {% endfor %}
            <div style="margin-top: 50px">
                {% include 'partial/pagination.html' %}
            </div>
        {% endif %}
    </div>
{% endblock content %}