{% extends 'base.html' %}
{% block title %}Product{% endblock title %}
{%  block content %}
    <div class="jumbotron jumbotron-fluid" style="background-color: #f8f1f1">
        <div class="container">
            <a href="{% url "product-list" %}" >вернуться к списку продуктов</a>
            <h1 class="display-4">{{ product.name }}</h1>
            <h2>Категории:
                {% for category in product.category.all %} {{ category.category }}
                {% if not forloop.last %},
                {% endif %}
                {% endfor %}
            </h2>
            <p class="lead">{{ product.description }}</p>
            <p class="lead">Цена: {{ product.price }}</p>
        <p class="lead">Остаток: {{ product.remainder }}</p>
        {% if perms.webapp.change_product %}
            <h4><a class="btn btn-warning btn-m" href="{% url "product-update" product.id %}">Изменить</a></h4>
        {% endif %}
        {% if perms.webapp.delete_product %}
            <h4><a class="btn btn-danger btn-m" href="{% url "product-delete" product.id %}">Удалить</a></h4>
        {% endif %}
        <a href="{% url "add-cart" product.id %}" class="btn btn-primary">В корзину</a>
        </div>
    </div>
{%  endblock content %}